<h1>STUPID COACHING</h1>

<p><%= params[:question] %></p>
<p class="author">- You</p>
<div class="output">
  <p><%= @output %></p>
  <p class="author">- Your coach</p>
</div>

<p><%= link_to "Got more?", ask_path %></p>
<p>
