<h1>STUPID COACHING</h1>

<form action="/answer" method="get">
  <p>Ask your coach anything</p>
  <input type="text" name="question" placeholder="What's Your Question" id="input">
  <input type="submit" value="Ask!" id="button">
</form>
